 <h1> Olá {{user.name}} {{user.surname}}, seja bem vindo</h1>

{{#if auth}}
<p>
    Você está autenticado no sistema, <a href="/dashboard">clique aqui</a> para acessar área de membros
</p>
{{/if}}


{{#if approved}}
<p>Parabéns, o seu cadastro está aprovado!</p>

{{else}}
<p>O seu cadastro precisa de aprovação</p>

{{/if}}